body
{	
	margin: -7px; 
	border-width: 0px;
}

#service_status_body
{
	background-color :ButtonHighlight;
}

#result_table
{
	text-align: left;
	width: 95%;
	font-size: 8.25pt; 
	font-family: Tahoma;
}
